<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.river.DroolsDemo.mapper.ParamInfoMapper" >
    <insert id="insertParam" parameterType="com.river.DroolsDemo.entity.ParamInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into re_param_info (operate, param_a, param_b, result, create_time)
        values (#{operate},#{paramA},#{paramB},#{result},#{createTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>